<!DOCTYPE html>
<html>

<head>
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/stylesheets/navigation.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/common.css">
  <script src="/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>