@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");

body {
  margin: 0;
  /* padding-top: 130px; */
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  color: #625a56;
  /* background-image: url("../images/bg.png"); */
}

#title {
  color: #625a56;
  margin: 0;
  font-family: "Baloo Bhaina";
  text-transform: uppercase;
}

img {
  max-width: 100%;
}
/* 
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#nav a {
  text-decoration: none;
} */

.container {
  margin-top: 130px;
  padding: 0% 0%;
}

.button {
  background-color: #cccccc;
  padding: 0.3vw 3vw;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-bottom: 2px;
}

.button:hover {
  background-color: #ffb99f;
  color: #0f55ed;
}

.subscriber {
  padding: 10px 0px;
  border-bottom: 1px solid lightgray;
}

.subscriber p {
  margin: 0;
}

.list-container {
  padding: 0 20px;
  border: 3px solid #ffcf68;
  border-radius: 1px;
}

.item-label {
  font-weight: 600;
  font-style: italic;
  margin-right: 5px;
}

.subscription-form input {
  display: block;
  margin: 5px;
}

.data-form {
  max-width: 600px;
  margin: 0 auto;
}

.data-form label {
  margin: 5px 0 0 0;
}

.hidden-text {
  -webkit-text-security: disc;
}

.flash {
  background: rgba(193, 255, 193, 0.7);
  color: #625a56;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  position: absolute;
  top: 110px;
  z-index: 2;
}

.error {
  color: #fff;
  background: rgba(209, 46, 42, 0.7);
}

.login {
  position: absolute;
  top: 0;
  right: 10px;
}

/* 
button[type="submit"] {
  margin-top: 20px;
} */

.login {
  position: absolute;
  right: 150px;
  top: 5px;
  padding: 10px;
  background: #000000;
  border-radius: 20px;
}

.login p {
  margin: 0;
}

.log-out {
  display: inline-block;
  padding: 0 8px;
  border-radius: 10px;
  background: #fff;
}

@media (max-width: 760px) {
  .login {
    overflow: hidden;
    white-space: nowrap;
    font-size: 2vw;
  }
}

#modal-button {
  background-color: #ffe7a2;
  color: #625956;
  border: 1px solid;
}

.modal-dialog {
  background: white;
  border-radius: 15px;
}

.modal-title {
  padding-top: 30px;
  padding-top: 30px;
  font-size: 30px;
  font-family: "Baloo Bhaina";
  color: #625956;
  font-weight: 100;
}

.course-title {
  font-family: "Baloo Bhaina";
  padding: 0 5px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
  /* float: left; */
}

.course-description {
  padding: 10px 10px 20px 10px;
  text-align: left;
  margin: 0 10px;
  clear: left;
}

.course-title::before {
  background-image: url("../images/icon.png");
  background-size: 20px 40px;
  display: inline-block;
  width: 20px;
  height: 40px;
  content: "";
}

.course-cost {
  display: inline-block;
  position: absolute;
  right: 35px;
  margin-top: 60px;
  font-family: "Baloo Bhaina";
  font-size: 18px;
}

.modal-body {
  padding: 15px 30px;
}

.join-button {
  position: absolute;
  right: 35px;
  margin-top: 30px;
  border: 1px solid;
}

.joined-button {
  position: absolute;
  right: 35px;
  margin-top: 30px;
  background-color: #ffef79;
  color: #625956;
  border: 1px solid;
}

#chat {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  border: 0px solid #635956;
  overflow: scroll;
}

#chat li {
  text-decoration: none;
  list-style: none;
  padding: 10px;
}

.message.current-user {
  font-weight: bold;
  color: #3d41b4;
}

.chat-icon {
  position: absolute;
  left: 20px;
  font-size: 25px;
  top: 0px;
  width: 25px;
  color: #fff;
  background: #edfffd;
}


/* 追加 */

.menus {
  position: relative;
  }

.menus p {
  position: absolute;
  top: 60%;
  left: 40%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 40px;
  color: rgb(60, 255, 0);
  /*文字の装飾は省略*/
  }

.menus img {
  width: 100%;
  }



  .card{
    display:inline-block;
    background-color:rgb(55, 22, 77);
    color: white;
    margin:20px;
    padding-bottom:0px;
    border-radius:0px 80px;
      -moz-box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);
      -webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);
  }
  
  .image-box,
  .title-box,
  .desc-box,
  .card{
    width:420px;
  }


  .image-box{
    border-radius:0px 80px 0px 0px;
    background-color:#f8f8f8;
    margin-bottom:-6px;
    height:70px;
    background:url("../images/exposure/kari.png") center center /cover no-repeat;
  }
  
  .title-box{
    margin:0 auto;
    padding-left:5px;
    font-size:26px;
    padding:20px 40px 10px;
  }
  
  .line{
    height:1px;
    background:#42195e;
    margin-bottom:10px;
  }
  
  .desc-box{
    padding:0 10px 10px;
    color:#ffffff;
    font-size:22px;
    margin-right: 40px;
    text-align: right;
    vertical-align: middle;
  }

  .title{
    width:400px;
    color: rgb(143, 143, 143);
    vertical-align: top;
    text-align: left;
    margin-right: 40px;
  }

  .desc{
    width:400px;
    color: rgb(143, 143, 143);
    vertical-align: top;
    text-align: left;
    margin-left: 40px;
  }


  .desc2{
    width:400px;
    color: white;
    vertical-align: top;
    text-align: right;
  }


  .btn-circle-flat {
    display: inline-block;
    text-decoration: none;
    background: #b87fb3;
    color: #FFF;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
  }
  
  .btn-circle-flat:hover {
    background: #ffffff;
  }

  .btn-circle-flat2 {
    display: inline-block;
    text-decoration: none;
    background: #2d83c9;
    color: #FFF;
    font-size: 36px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
  }
  
  .btn-circle-flat2:hover {
    background: #ffffff;
  }

  .btn-circle-flat3 {
    display: inline-block;
    text-decoration: none;
    background: #dfa02c;
    color: #FFF;
    width: 100px;
    height: 60px;
    line-height: 60px;
    border-radius: 40%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
  }
  
  .btn-circle-flat3:hover {
    background: #ffffff;
  }


  .button_wrapper{
    text-align:center;
 }