<div id="nav">
  <div class="col-sm nav-align">
    <a href="/exposure">
      <span>
        <font size="6.5" ; color="black"><%= pageTitle %></font>
      </span>
    </a>
    <a href="/exposure">
      <span class="button">+</span>
    </a>
    <a href="/courses">
      <span class="button">+</span>
    </a>
    <a href="/subscribers">
      <span class="button">+</span>
    </a>
    <a href="/users">
      <span class="button">+</span>
    </a>
    <button id="modal-button" type="button" class="button" data-toggle="modal" data-target="#myModal">+</button>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <h4 class="modal-title">進捗状況</h4>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="button" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>